@import '../../../../scss/main.index.scss';

.filter-cards {
    width: 95%;
    display: flex;
    justify-content: flex-end;

    button {
        margin: 0 10px;
        width: 110px;
    }
}

.container-all-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-evenly;
}

.card-task {
    width: 350px;
    margin: 15px;

    .actions-card {
        position: absolute;
        bottom: 10px;
        right: 10px;
        border-radius: 4px;
    }
}


@media only screen and (max-width: $max-mobile) {
    .filter-cards {
        width: 100%;
        margin-top: 20px;
    }
}